.grid-container {
    width: 800px;
    height: 800px;
    border: 2px dotted black;
    display: flex;
    flex-wrap: wrap;
}

.grid-box {
    box-sizing: border-box;
    
    border: 1px solid lightgrey;
    flex: 1 1 120px;
}

