.grid-container {
    width: 800px;
    height: 800px;
    border: 2px dotted black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-box {
    box-sizing: border-box;
    
    border: 1px solid lightgrey;
}

/* .grid-box:hover {
    background-color: black;
} */

